@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-ted-red: #E62B1E;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-white text-black;
  }
}

.max-width-container {
  @apply max-w-[1200px] mx-auto px-6;
}
